:root {
    --primary-text-color: #757575;
    --secondary-text-color:#000000;
    --title-text-color: #212121;
    --accent-text-color:#FFFFFF;
    --link-text-color: rgba(255, 255, 255, 0.6);
    --primary-accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    /* пізніше буде інший колір у hero, тому своя var*/
    --hero-background-color:#2F303A;
    --footer-background-color: #2F303A;
    --project-border-color: #EEEEEE;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: Roboto, sans-serif;
}

/* Глобальне скидання стилів по тегам*/
h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.page-header {
    /* outline прибрати потім в кінці верстки */
    background-color: pink;
    outline: 2px solid rebeccapurple;
}

.main-nav {
    display: flex;
    align-items: center;
}

.bloc-nav {
    display: flex;
}

.bloc-nav .logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo {
    color: var(--primary-accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid cadetblue;
}

.logo-studio {
    color: var(--secondary-text-color);
}

.navigation, .contact {
    list-style: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid cadetblue;
    display: flex;
}

.navigation .item + .item {
    margin-left: 50px;
}

.navigation-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid cadetblue;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation-link:hover, .navigation-link:focus {
    color: var(--primary-accent-color);
}

.navigation-link.current {
    color: var(--primary-accent-color);
}

.contact .item + .item {
    margin-left: 50px;
}
    
.contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid cadetblue;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-link:hover, .contact-link:focus {
    color: var(--primary-accent-color);
}


/* main Студія */

.hero {
    background-color: var(--hero-background-color);
    text-align: center;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid rebeccapurple;
    padding: 200px 0;
}

.hero-title {
    color: var(--accent-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-btn {
    color: var(--accent-text-color);
    background-color: var(--primary-accent-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    font-family: inherit;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
    min-width: 216px;
    padding: 10px 32px;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--secondary-accent-color);
}

.advantage {
    /* outline прибрати потім в кінці верстки */
    outline: 2px solid rebeccapurple;
    background-color: pink;

    padding-top: 94px;
    padding-bottom: 94px;
}
    
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantage-list {
    list-style: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.advantage-list-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.advantage-list-descr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.work {
    /* outline прибрати потім в кінці верстки */
    outline: 2px solid rebeccapurple;
    background-color: antiquewhite;

    padding-top: 94px;
    padding-bottom: 94px;
}
    
.work-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.work-list, .team-list {
    list-style: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.team {
    background-color: var(--secondary-background-color);
    /* outline прибрати потім в кінці верстки */
    outline: 2px solid rebeccapurple;

    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}
 
.team-item {
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.team-list-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.team-list-descr {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}


/* main Портфоліо */

.filter {
    list-style: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.filter-btn {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: inherit;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid cadetblue;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    min-width: 73px;
    padding: 6px 22px;
}

.filter-btn:hover, .filter-btn:focus {
    color: var(--accent-text-color);
    background-color: var(--primary-accent-color);
    border-color: transparent;
    /* border-color: var(--primary-accent-color); */
}
    
.project {
    /* outline прибрати потім в кінці верстки */
    outline: 2px solid rebeccapurple;
    background-color: antiquewhite;

    padding-top: 94px;
    padding-bottom: 94px;
}
 
.project-list {
    list-style: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid cadetblue;
}

.project-container {
    border: 1px solid var(--project-border-color);
}

.project-link {
    text-decoration: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid cadetblue;
}

.project-list-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid cadetblue;
}

.project-list-descr {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    /* outline прибрати потім в кінці верстки */
     outline: 2px solid cadetblue;
}


/* footer */

.page-footer {
    background-color: var(--footer-background-color);

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid rebeccapurple;
}

.page-footer .logo-studio {
    color: var(--accent-text-color);
}

.residence {
    font-style: normal;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.residence-contact {
    list-style: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.residence-descr {
    color: var(--accent-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}

.residence-link {
    color: var(--link-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;   

    /* outline прибрати потім в кінці верстки */
    outline: 2px solid tomato;
}


.residence-descr:hover, .residence-descr:focus, 
.residence-link:hover, .residence-link:focus {
    color: var(--primary-accent-color);
}

